<%- include("partials/header") %>

<!-- <h1 class="initial-title">POSTS</h1> -->

<p class="paragraph-body" style="margin-top: 20px"><i><%= home %></i></p>
<div class="blog-posts-display-cards">
    <% posts.forEach(function(post) { %>
        <% let date = new Date(post.date); %>
        <% let formattedDate = date.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }); %>
        <!-- <hr class="post-inside-hr"> -->
        <div class="blog-post-flex-cards">
            <!-- change the substring to 40 if displayed as a list of cards -->
                <span class="post-title-line-cards">
                    <h1 class="post-title-name-cards">
                         <a href="/posts/<%= post._id %>"><%= post.title.length > 40 ? post.title.substring(0, 40) + " ..." : post.title %></a> 
                    </h1> 
                     <div class="post-title-line-cards">
                        <p class="post-date-cards"> 
                            <strong><%= post.author.toUpperCase() %></strong>&nbsp; || &nbsp;<%= formattedDate %>
                        </p>
                    <!-- if displaed as a list of cards, comment this button -->
                    <!-- <button class="post-delete-cards" type="submit"><a href="/<%= post._id %>">🗑️</a></button> -->
                </span>
            </div>
            <!-- change the subsrting to 150 if displayed as a list of cards-->
            <p class="paragraph-body-flex-cards"> <%= post.content.substring(0, 150) + " ..." %> </p>
            <a class="read-more-cards" style="float: right" href="/posts/<%= post._id %>">
                <span style="float: right;"> &#x2192; Read more</span>
            </a> 
            <!-- if displayed as a list of cards, uncomment this button -->
                <button class="post-delete" type="submit">
                    <a href="/<%= post._id %>">🗑️</a>
                </button>
        </div>
    <% }) %>
    <!-- <hr class="post-inside-hr"> -->
</div>


<%- include("partials/footer") %>